.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faqcontainer {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.question {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.answer {
    font-size: 1em;
    color: #555;
}
