.container {
  display: flex;
  background-color: #efefef; 
  padding: 30px;
  margin-bottom: -60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.profile {
  flex: 1;
  padding: 20px; 
  border-radius: 20px; 
  background-color: #ffffff; 

}

.profile h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.738);
}

.welcome {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 60px;
  text-align: left;
  margin-top: -15px;
  margin-left: 20px;
}

.userData {
  display: flex;
  flex-direction: column;
}

.userData > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  outline: none;

}


.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 16px; 
}

.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.editProfileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-grow: 1;
}

.section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
  margin-bottom: 16px;
 
}

.active {
  font-weight: bold;
  color: #007bff; 
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1500px;
}

.inputContainer input {
  flex-grow: 10; 
  padding: 8px;
  width: 200px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

